# Django
BIND_ADDR=127.0.0.1
PORT=8000
DATABASE_URL='postgresql://postgres:password@127.0.0.1:15432/{{ project_name }}'
DJANGO_SETTINGS_MODULE='{{ project_name }}.settings'
DJANGO_SECRET_KEY='set-random-secret-key'
DJANGO_DEBUG='true'
DJANGO_TEMPLATE_DEBUG='true'
DJANGO_ALLOWED_HOSTS='*'

# Setnry DSN (Disable sentry if set blank)
DJANGO_SENTRY_DSN=''
