# Django
ENVIRONMENT='LOCAL'
BIND_ADDR=127.0.0.1
PORT=8000
DATABASE_URL='postgresql://postgres:password@127.0.0.1:15432/webapp'
DJANGO_SECRET_KEY='set-random-secret-key'
DJANGO_DEBUG='yes'
DJANGO_TEMPLATE_DEBUG='yes'
DJANGO_ALLOWED_HOSTS='*'

# Setnry DSN (Disable sentry if set blank)
DJANGO_SENTRY_DSN=''
