# Django
HOST=127.0.0.1
PORT=8000
DATABASE_URL='postgresql://postgres:password@127.0.0.1:15432/{{ project_name }}'
CACHE_URL='locmem://'
DJANGO_CONFIGURATION=Dev
DJANGO_SETTINGS_MODULE='{{ project_name }}.settings'
DJANGO_SECRET_KEY='{{ secret_key }}'
DJANGO_DEBUG='true'
DJANGO_TEMPLATE_DEBUG='true'
DJANGO_ALLOWED_HOSTS='*'

# Sentry DSN (Disable sentry if set blank)
SENTRY_DSN=''
