[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8.1"

[dev-packages]
Werkzeug = "==0.16.0"
ipython = "==7.11.1"
factory-boy = "==2.12.0"
codecov = "==2.0.15"
coverage = "==5.0.3"
django-debug-toolbar = "==2.1"

[packages]
bjoern = "==3.1.0"
django = "==3.0.2"
django-configurations = {extras = ["database"], version="==2.2"}
django-extensions = "==2.2.6"
djangorestframework = "==3.11.0"
djangorestframework-camel-case = "==1.1.2"
psycopg2-binary = "==2.8.4"
whitenoise = "==5.0.1"
sentry-sdk = "==0.14.0"
