[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Werkzeug = "==0.16.0"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.2"
django-debug-toolbar = "==2.1"
django-extensions = "==2.2.6"
Django = "==3.0.*"
psycopg2-binary = "==2.8.4"
gunicorn = "==20.0.4"
whitenoise = "==5.0.1"
