[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

Werkzeug = "==0.12.2"


[packages]

dj-database-url = "==0.4.2"
django-configurations = "==2.0.0"
django-debug-toolbar = "==1.9.1"
django-extensions = "==1.9.7"
Django = "==2.0"
"psycopg2" = "==2.7.3.2"
gunicorn = "==19.7.1"
newrelic = "==2.98.0.81"
whitenoise = "==4.0b4"


[requires]

python_version = "3.6"
