dj-database-url==0.3.0
Django==1.7.7
django-configurations==0.8
django-debug-toolbar==1.3.0
django-dotenv==1.3.0
django-extensions==1.5.1
django-secure==1.0.1
gunicorn==19.3.0
newrelic==2.46.0.37
psycopg2==2.6
Werkzeug==0.10.1
