Django==1.7.1
Werkzeug==0.9.6
dj-database-url==0.3.0
django-configurations==0.8
django-debug-toolbar==1.2.2
django-dotenv==1.2
django-extensions==1.4.6
django-secure==1.0.1
gunicorn==19.1.1
newrelic==2.36.0.30
psycopg2==2.5.4
six==1.8.0
sqlparse==0.1.13
wsgiref==0.1.2
